<%= stylesheet_link_tag "budget_styles" %>

<%= link_to 'Home', '/',class:"badge badge-secondary"%>
<%= link_to 'Chart', '/budget_trackers/chart',class:"badge badge-secondary"%>

<%= form_with model: @budget, html: {class: "budget_form"} do |form| %>
  <%= form.label :group, "Group" %>
  <%= form.collection_select :group, Group.all, :name, :name %>
  <script>
      //EXPENSES
      //Create category label
      const label = document.createElement('label')
      label.setAttribute('for', 'category_name')
      label.textContent = "Category"
      //select group for listener and form
      const group = document.getElementById('budget_tracker_group')
      const form = document.querySelector('.budget_form');
      //Selection elements
      const expensesSelect = document.createElement('select')
      expensesSelect.setAttribute('id','budget_tracker_category')
      expensesSelect.setAttribute('name','budget_tracker[category]')
      //Expenses group options
      const option1 = document.createElement('option')
      const option2 = document.createElement('option')
      option1.setAttribute('value',"Groceries")
      option2.setAttribute('value',"Utilities")
      option1.textContent = "Groceries"
      option2.textContent = "Utilities"
      //Insert expense options in list
      expensesSelect.append(option1)
      expensesSelect.append(option2)
      //INCOME
      //Create category label
      const incomeLabel = document.createElement('label')
      incomeLabel.setAttribute('for', 'category_name')
      incomeLabel.textContent = "Category"
      //Selection elements
      const incomeSelect = document.createElement('select')
      incomeSelect.setAttribute('id','budget_tracker_category')
      incomeSelect.setAttribute('name','budget_tracker[category]')
      //Expenses group options
      const incomeOption1 = document.createElement('option')
      const incomeOption2 = document.createElement('option')
      incomeOption1.setAttribute('value',"Salary")
      incomeOption2.setAttribute('value',"Carry-Over")
      incomeOption1.textContent = "Salary"
      incomeOption2.textContent = "Carry-Over"
      //Insert expense options in list
      incomeSelect.append(incomeOption1)
      incomeSelect.append(incomeOption2)
    //Add corresponding select to category
    group.addEventListener("change", (event) => {
      if (event.target.value == "Expenses"){
      // Add label to form
      form.insertBefore(label,form.children[4])
      form.insertBefore(expensesSelect,form.children[5])
      form.removeChild(incomeLabel)
      form.removeChild(incomeSelect)}
      else{
      form.removeChild(label)
      form.removeChild(expensesSelect)
      form.insertBefore(incomeLabel,form.children[4])
      form.insertBefore(incomeSelect,form.children[5])}  
    });
  </script>
 
  <%= form.label :amount, "Amount" %>
  <%= form.number_field :amount %>
  <%= form.label :description, "Decription" %>
  <%= form.text_field :description %>
  <%= form.submit "Submit" %>
<% end %>

<table class="table table-striped thead-light table-hover table-sm">
<caption>Income/Expenses</caption>
<tr>
  <thead>
    <th scope="col">Type</th>
    <th scope="col">Category</th>
    <th scope="col">Amount</th>
    <th scope="col">Description</th>
    <th scope="col">Remove</th>
  </thead>
</tr>
<% BudgetTracker.all.each do |item|%>
<tr>
  <td><%= item.group%></td>
  <td><%= item.category%></td>
  <td>$<%= item.amount.round(0) if item.amount >= 0%></td>
  <td><%= item.description%></td>
  <td ><%=button_to 'Delete', {:controller => 'budget_trackers', :action => 'destroy', :id => item.id, },:method => 'delete',class: "btn btn-dark" %> </td>
</tr>
<% end %>
</table>



