<%= stylesheet_link_tag "budget_styles" %>

<%= link_to 'Home', '/'%>

<%= form_with model: @budget do |form| %>
  <%= form.label :group, "Group" %>
  <%= form.select :group, [["Income", "Inc"], ["Expenses", "Exp"]] %>
  <%= form.label :category, "Category" %>
  <%= form.select :category, [["Utilities", "Utilities"], ["Groceries", "Groceries"]] %>  
  <%= form.label :amount, "Amount" %>
  <%= form.number_field :amount %>
  <%= form.label :description, "Decription" %>
  <%= form.text_field :description %>
  <%= form.submit "Submit" %>
<% end %>


<table>
<th>Type</th>
<th>Category</th>
<th>Amount</th>
<th>Description</th>
<tr></tr>
<tr></tr>
<tr></tr>
<tr></tr>
</table>
