<%= stylesheet_link_tag "budget_styles" %>

<%= link_to 'Home', '/',class:"badge badge-secondary"%>
<%= link_to 'Chart', '/budget_trackers/chart',class:"badge badge-secondary"%>

<%= form_with model: @budget, html: {class: "budget_form"} do |form| %>
  <%= form.label :group, "Group" %>
  <%= form.collection_select :group, Group.all, :name, :name %>
  <%# <%= form.label :category, "Category" %> 
  <script>
  const label = document.createElement('label')
  const expensesSelect = document.createElement('select')
  const incomeSelect = document.createElement('select')
  const option1 = document.createElement('option')
  const option2 = document.createElement('option')
  option1.textContent = "Groceries"
  option2.textContent = "Utilities"
  expensesSelect.append(option1)
  expensesSelect.append(option2)
  expensesSelect.setAttribute('id','category')
  expensesSelect.setAttribute('name','category')
  label.setAttribute('for', 'category')
  label.textContent = "Category"
  const form = document.querySelector('.budget_form');
  form.append(label)
  const group = document.getElementById('budget_tracker_group')
  group.addEventListener("change", (event) => {
    form.append(label)
    form.append(expensesSelect)
  console.log(`You like ${event.target.value}`);
  });
  </script>
 
  <%= form.label :amount, "Amount" %>
  <%= form.number_field :amount %>
  <%= form.label :description, "Decription" %>
  <%= form.text_field :description %>
  <%= form.submit "Submit" %>
<% end %>

<table class="table table-striped thead-light table-hover table-sm">
<caption>Income/Expenses</caption>
<tr>
  <thead>
    <th scope="col">Type</th>
    <th scope="col">Category</th>
    <th scope="col">Amount</th>
    <th scope="col">Description</th>
    <th scope="col">Remove</th>
  </thead>
</tr>
<% BudgetTracker.all.each do |item|%>
<tr>
  <td><%= item.group%></td>
  <td><%= item.category%></td>
  <td>$<%= item.amount.round(0) if item.amount >= 0%></td>
  <td><%= item.description%></td>
  <td ><%=button_to 'Delete', {:controller => 'budget_trackers', :action => 'destroy', :id => item.id, },:method => 'delete',class: "btn btn-dark" %> </td>
</tr>
<% end %>
</table>



