<%= stylesheet_link_tag "budget_styles" %>

<%= link_to 'Home', '/'%>

<%= form_with model: @budget do |form| %>
  <%= form.label :group, "Group" %>
  <%= form.select :group, [["Income", "Inc"], ["Expenses", "Exp"]] %>
  <%= form.label :category, "Category" %>
  <%= form.select :category, [["Utilities", "Utilities"], ["Groceries", "Groceries"]] %>  
  <%= form.label :amount, "Amount" %>
  <%= form.number_field :amount %>
  <%= form.label :description, "Decription" %>
  <%= form.text_field :description %>
  <%= form.submit "Submit" %>
<% end %>


<table class="table table-striped table-dark table-hover table-sm">
<caption>Income/Expenses</caption>
<tr>
<thead>
  <th scope="col">Type</th>
  <th scope="col">Category</th>
  <th scope="col">Amount</th>
  <th scope="col">Description</th>
  <th scope="col">Remove</th>
  </thead>
</tr>
<% BudgetTracker.all.each do |item|%>
<tr>
  <td><%= item.group%></td>
  <td><%= item.category%></td>
  <td><%= item.amount%></td>
  <td><%= item.description%></td>
  <td ><%=button_to 'Delete', {:controller => 'budget_trackers', :action => 'destroy', :id => item.id, },:method => 'delete',class: "btn btn-dark" %> </td>
  <%= puts @budget.inspect %>

   <%= puts "hi"%>
</tr>
<%end %>
</table>
