<!DOCTYPE html>
<html>
  <head>
    <title>Breakthrough</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   
  </head>
  <body>
    <p class="list-unstyled"> Current_user: <%= current_user.email %></p>
    <p class="list-unstyled" class="notice"><%= notice %></p>
    <p class="list-unstyled" class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
